.b-channel-block {

  padding-top: 137px;

  &__title {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 24px;
  }

  &__description {
    margin: 8px 0;
    font-size: 16px;
  }

  &__link {
    color: #0087D7;
    text-decoration: underline;
  }
}