.b-channel-header {
  padding-top: 46px;
  min-width: 320px;
  position: fixed;
  background: #FFF;
  width: 100%;
  top: 0;
  left: 0;

  &__block {
    width: 500px;
    margin: 0 auto;
    padding: 0 42px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 34px;
    background: #FFF;
    background: linear-gradient(180deg, #FFF 0%, rgba(255,255,255,0) 100%);
  }

  &__logo {
    width: 90px;
    height: 90px;
    display: inline-block;
    vertical-align: middle;
  }

  &__link {
    font-size: 28px;
    font-weight: 300;
    height: 90px;
    vertical-align: middle;
    margin-left: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 300px;
    display: inline-block;
    line-height: 90px;
  }
}
@media (max-width: 520px) {
  .b-channel-header {
    padding-top: 40px;
    &__block {
      width: auto;
      padding: 0 10px;
    }

    &__logo {
      width: 65px;
      height: 65px;
    }

    &__link {
      font-size: 20px;
      width: 220px;
    }
  }
}