.b-datepicker {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #F5F5F5;
  min-width: 320px;

  &__block {
    width: 500px;
    margin: 0 auto;
    padding: 10px 42px;
    text-align: center;
  }

  &__button {
    display: inline-block;
    background: none;
    border: 0;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    margin: 0 6px;
    text-transform: capitalize;
    color: #232323;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border-bottom: 3px solid #6f6f6f;
    }

    &_current {
      font-weight: 500;
      border-bottom: 3px solid #fccc34;
    }
  }
}
@media (max-width: 520px) {
  .b-datepicker {
    &__block {
      width: auto;
      padding: 10px;
    }

    &__button {
      font-size: 12px;
      margin: 0px 4px;
    }
  }
}