.b-toggle-visible {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #FFF;
  width: 100%;
  height: 100px;

  font-size: 15px;
  color: #000;

  &__link {
    border: 0;
    background: #FFFFFF;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
    outline: none;

    &:hover {
      text-decoration: none;
    }
  }

  &__block {
    text-align: right;
    position: relative;
    width: 500px;
    margin: 0 auto;
    padding: 0 42px;
    line-height: 100px;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
  }
}
.b-breadcrumbs {
  position: absolute;
  left: 42px;
  width: 300px;
  text-align: left;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 520px) {
  .b-toggle-visible {
    &__block {
      width: auto;
      text-align: center;
    }

    &__link {
      text-decoration: none;
    }
  }
  .b-breadcrumbs {
    display: none;
  }
}