.b-program-row {
  padding: 18px 8px;
  font-size: 15px;
  color: #232323;
  font-weight: 400;
  border-bottom: 1px solid #F5F5F5;

  &_is-over {
    color: #777;
  }

  &_in-progression {
    background: #F5F5F5;
  }

  &__start {
    width: 80px;
    display: table-cell;
    vertical-align: middle;
    font-weight: 500;
  }

  &__title {
    display: table-cell;
  }
  &__progression {
    clear: both;
    height: 4px;
    background: #DCDCDC;
    margin: 18px 10px 0 80px;
  }

  &__progression-current {
    background: #FCCC35;
    height: 4px;
  }
}