@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto-regular.eot");
  src: url("./assets/fonts/roboto-regular.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/roboto-regular.woff") format("woff"),
  url("./assets/fonts/roboto-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto-light.eot");
  src: url("./assets/fonts/roboto-light.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/roboto-light.woff") format("woff"),
  url("./assets/fonts/roboto-light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto-medium.eot");
  src: url("./assets/fonts/roboto-medium.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/roboto-medium.woff") format("woff"),
  url("./assets/fonts/roboto-medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
body {
  color: #000000;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
a {
  color: #0087D7;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
.app {
  width: 500px;
  margin: 0 auto;
  padding: 0 42px;
}
h2 {
  margin: 10px 0;
  font-size:24px;
  color: #232323;
}

@media (max-width: 520px) {
  .app {
    width: auto;
    padding: 0 10px;
    min-width: 320px;
  }
}

