.b-channels {
  padding-bottom: 100px;
  text-align: center;
  clear: both;

  &__row {
    padding: 18px 12px;
    font-size: 15px;
    color: #232323;
    font-weight: 400;
    border-bottom: 1px solid #F5F5F5;
    display: inline-block;
    width: 100px;
    height: 112px;
    position: relative;
  }

  &__img {
    width: 75px;
    display: block;
    transition: transform 0.1s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__noimg {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    transform: translateY(-50%);
    vertical-align: middle;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }
}

.b-themes {
  float: right;
  margin-top: 3px;

  &__select {
    padding: 5px;
    width: 160px;
    border: 1px solid #333;
    color: #333;
  }

  &__label {
    position: absolute;
    left: -9999px;
  }
}